<div class="container mx-auto">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3>ログイン</h3>
      <%= form_with model: @employee, url: new_employee_session_path, local:true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "ログイン" , class: "btn btn-info btn-block mt-3 btn-sm" %><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto">
      <p>アカウントを持っていない方↓</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <div>
        <span><%= link_to "新規登録", new_employee_registration_path, class: "btn btn-success btn-sm"  %></span>
        <span><%= link_to 'ゲストログインはこちら', employees_guest_sign_in_path, method: :post, class: "btn btn-danger btn-sm ml-3" %></span>
      </div>
    </div>
  </div>
</div>